.syntax--constant {
    color: @light-blue;

    &.syntax--character.syntax--escape {
        color: @light-blue;
    }

    &.syntax--numeric {
        color: @puke;
    }

    &.syntax--boolean {
        color: @dark-blue;
    }

    &.syntax--other {
        &.syntax--color {
            // color: maroon;
            .syntax--constant {
                color: black;
            }
        }

        &.syntax--symbol {
            color: maroon;
        }
    }

    &.syntax--language.syntax--null {
        color: maroon;
    }
}

.syntax--variable {
    color: @light-blue;

    &.syntax--interpolation {
        color: @light-blue;
    }

    &.syntax--parameter.syntax--function {
        color: @light-blue;
    }

    &.syntax--language {
        color: @pink;
        NOTE : default, this;
    }

    &.syntax--object {
        color: @light-blue;
    }

    // &.syntax--other {
        // color: @light-blue;
        &.syntax--readwrite {
            // color: black;
        }

        &.syntax--property {
            // color: black;
        }
    // }
}
