atom-text-editor {
  .syntax--source.syntax--js {

    .syntax--keyword.syntax--operator {
      color: @syntax-fg;  // TODO: what <--

      &.syntax--delete,
      &.syntax--in,
      &.syntax--of,
      &.syntax--instanceof,
      &.syntax--new,
      &.syntax--default,
      &.syntax--typeof,
      &.syntax--void {
        color: @tag_gray; // QUESTION:
      }

      &.syntax--this {
        color: #00deaf;
      }
    }
    .syntax--entity {
        // color: maroon; // NOTE: ${} # . &
      &.syntax--name.syntax--type {
        color: @blue_2;
      }
      .syntax--punctuation.syntax--begin,
      .syntax--punctuation.syntax--end
      // .syntax--delimiter.syntax--object.syntax--comma
      // .syntax--brace.syntax--curly
      {
          color: @blue_2; // NOTE: ${}
      }
    }


    }
  }
