.syntax--keyword {
    // color: @seafoam-green;
    &.syntax--control {
        color: @pink;

        &.syntax--elements {
            color: @pink;
        }

        &.syntax--module {
            color: @very-light-gray; // NOTE: import, export, from, default in JavaScript
        }

        &.syntax--conditional {}
    }

    &.syntax--operator {
        // color: @very-light-gray;
        .syntax--punctuation {}

        &.syntax--module {
            &.syntax--all {
                color: @light-blue; // TODO: this in vanilla
            }
        }

        &.syntax--new,
        &.syntax--null,
        &.syntax--this,
        &.syntax--undefined {
            color: @dark-blue; // TODO: define new in Babel/JSX
        }

        &.syntax--accessor,
        &.syntax--arithmetic,
        &.syntax--assignment,
        &.syntax--comparison,
        &.syntax--decrement,
        &.syntax--increment,
        &.syntax--of,
        &.syntax--relational,
        &.syntax--ternary {
            color: @very-light-gray;
        }
    }

    &.syntax--other {
        &.syntax--special-method {
            // color: @seafoam-green;
        }

        &.syntax--unit {
            // color: @puke;
        }

        &.syntax--important {
            color: @dark-blue;
        }
    }
}
