.syntax--keyword {
  // color: @seafoam-green;

    &.syntax--control {
        color: @pink;

        &.syntax--elements {
            color: @pink;
        }

        &.syntax--module {
            color: @very-light-gray; // NOTE: import, export, from, default in JavaScript
        }
        &.syntax--conditional {}
    }

    &.syntax--operator {
        // color: @very-light-gray;
        .syntax--punctuation {}

        &.syntax--module {
          &.syntax--all {
            color: @light-blue; // TODO: this in vanilla
          }
        }

        &.syntax--undefined,
        &.syntax--null,
        &.syntax--new,
        &.syntax--this {
           color: @dark-blue; // TODO: define new in Babel/JSX
        }

        &.syntax--increment,
        &.syntax--decrement,
        &.syntax--relational,
        &.syntax--comparison,
        &.syntax--of,
        &.syntax--accessor,
        &.syntax--arithmetic,
        &.syntax--assignment,
        &.syntax--ternary {
          color: @very-light-gray;
        }
    }

    &.syntax--other {
      &.syntax--special-method {
        // color: @seafoam-green;
      }
      &.syntax--unit {
        // color: @puke;
      }
      &.syntax--important {
        color: @dark-blue;
      }
    }

}
