.syntax--keyword {
  // color: @sefoam-green;

    &.syntax--control {
        color: @pink;

        &.syntax--elements {
            color: @pink;
        }

        &.syntax--module {
            color: @very-light-gray; // NOTE: import, export, from, default in JavaScript
        }
    }

    &.syntax--operator {
        .syntax--punctuation {}

        &.syntax--module {
          &.syntax--all {
            color: @light-blue; // TODO: this in vanilla
          }
        }
        &.syntax--new,
        &.syntax--this {
           color: @dark-blue; // TODO: define new in Babel/JSX
        }
        &.syntax--of,
        &.syntax--assignment {
          color: @very-light-gray;
        }
    }

    &.syntax--other {
      &.syntax--special-method {
        // color: @sefoam-green;
      }
      &.syntax--unit {
        // color: @puke;
      }
      &.syntax--important {
        color: @dark-blue;
      }
    }

}
