.syntax--markup {
    &.syntax--bold {
        // color: ;
        font-weight: bold;
    }

    &.syntax--changed {
        // color: ;
    }

    &.syntax--deleted {
        // color: ;
    }

    &.syntax--italic {
        // color: ;
        font-style: italic;
    }

    &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
        // color: @dark-blue;
    }

    &.syntax--inserted {
        // color: ;
    }

    &.syntax--list {
        // color: ; TODO: List '-' or '*'
    }

    &.syntax--quote {
        // color: ;
    }

    &.syntax--raw.syntax--inline {
        // color: ;
    }
}

.syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;

    &.syntax--heading {
        // color: ;
    }
}
