.syntax--meta {
    &.syntax--definition {
        color: @very-light-gray;

        &.syntax--variable {
            // color: rebeccapurple; // QUESTION: define
        }
    }

    &.syntax--class.syntax--body {
      &.syntax--function.syntax--method {
        .syntax--function {
          // color: @dark-blue;
        }
      }
    }

    &.syntax--arguments {
      .syntax--keyword.syntax--operator {
        color: @very-light-gray;
      }
    }

    &.syntax--delimiter {
        color: @very-light-gray;
    }

    &.syntax--function {
        &.syntax--method {
          color: @light-blue;
        }
        &.syntax--parameters {
            color: @light-blue;

            .syntax--variable.syntax--other.syntax--readwrite.syntax--js {
                // font-style: italic;
            }

        }

        &.syntax--arguments {
            // color: @light-blue;
            // font-style: italic;
        }
        &.syntax--method {
            &.syntax--entity.syntax--name.syntax--function {
                // color: @light-blue;
            }
        }
        // &.syntax--function,
        &.syntax--arrow {
          .syntax--entity.syntax--name.syntax--function {
            color: @light-yellow;
          }
        }
    }

    &.syntax--link {
        // color: ;
    }

    &.syntax--for {
      .syntax--keyword.syntax--operator {
        color: @very-light-gray;
      }
    }

    &.syntax--selector {
        // color: @very-light-gray;
        // color: @light-blue;
    }

    &.syntax--separator {
        background-color: @very-light-gray;
    }

    &.syntax--brace {
        &.syntax--curly,
        &.syntax--round,
        &.syntax--square {
            color: @very-light-gray; // NOTE: brackets
        }
    }

    &.syntax--method-call {
        .syntax--entity {
            color: @light-blue;
        }
    }

    &.syntax--function-call {

        .syntax--name,
        .syntax--entity,
        .syntax--function {
          color: @light-blue;
        }

    }
    
    &.syntax--require {
        color: @light-yellow !important; // NOTE: 'require' for Babel
    }
}
// syntax--entity syntax--name syntax--function syntax--method syntax--js
// @light-yellow
// syntax--meta syntax--method-call syntax--without-arguments syntax--js
// @light-blue?
// syntax--entity syntax--name syntax--function syntax--js

// syntax--meta.syntax--function-call
