.syntax--punctuation {
    &.syntax--definition {
        &.syntax--comment {
            // color: @syntax-comment-color;
            color: @syntax-color-comment; NOTE: comment backslashes
        }

        &.syntax--parameters {
          color: @very-light-gray; // TODO: Tweak to @dark-blue
        }

        &.syntax--modules {
          color: @very-light-gray;

          &.syntax--begin,
          &.syntax--end {
            color: @very-light-gray // FIXME: redundant? other things in 'syntax--module'?
          }
        }
        &.syntax--array,
        &.syntax--string,
        &.syntax--variable {
          // color: @dark-blue; // NOTE: ()s & ''/""/``s

            &.syntax--begin, &.syntax--end {
              // color: @dark-blue; // NOTE: ()s & ''/""/``s
                // color: @very-light-gray; // NOTE: ()s & ''/""/``s
            }
        }

        &.syntax--string .syntax--quoted .syntax--template {
          .syntax--begin,
          .syntax--end {
            color: @dark-blue; // NOTE: ()s & ''/""/``s
              // color: @very-light-gray; // NOTE: ()s & ''/""/``s
          }
        }
        &.syntax--heading,
        &.syntax--identity {
          color: @very-light-gray;
        }

        &.syntax--bold {
            // color: ;
            font-weight: bold;
        }

        &.syntax--italic {
            // color: ;
            font-style: italic;
        }

        &.syntax--entity {
          // color: @very-light-gray;

        }
    }

    &.syntax--section {
        &.syntax--array {
          color: @very-light-gray;
        }

        &.syntax--embedded {
          color: @dark-blue;
        }
    }

    &.syntax--separator {
        &.syntax--key-value {
                // color: @very-light-gray;
        }
    }

    &.syntax--terminator {
      color: @very-light-gray;

    }
}

.syntax--template {
  .syntax--punctuation {
    color: @dark-blue;
  }
}
