.syntax--punctuation {
    &.syntax--definition {
        &.syntax--comment {
            color: @syntax-comment-color;
        }

        &.syntax--array,
        &.syntax--parameters,
        &.syntax--string,
        &.syntax--variable {
            // color: ;

            &.syntax--begin, &.syntax--end {
                // color: ;
            }
        }

        &.syntax--heading,
        &.syntax--identity {
            // color: ;
        }

        &.syntax--bold {
            // color: ;
            font-weight: bold;
        }

        &.syntax--italic {
            // color: ;
            font-style: italic;
        }

        &.syntax--entity {
            // color: ;
        }
    }

    &.syntax--section {
        &.syntax--array {
            // color: ;
        }

        &.syntax--embedded {
            // color: ;
        }
    }

    &.syntax--separator {
        &.syntax--key-value {
            // color: ;
        }
    }

    &.syntax--terminator {
        // color: ;
    }
}
