.syntax--string {
    color: @orange;

    &.syntax--unquoted{
        color: @orange;
    }
    &.syntax--regexp {
        color: @light-red; // TODO: Regex slashes

        .syntax--source.syntax--ruby.syntax--embedded {
            color: @orange;
        }
    }

    &.syntax--other.syntax--link {
        color: @orange;
    }

    .syntax--embedded.syntax--punctuation {
      color: @dark-blue;
    }
}
