.syntax--string {
    color: @theme-color--string;

    &.syntax--unquoted {
        color: @theme-color--string;
    }

    &.syntax--regexp {
        color: @light-red;

        .syntax--source.syntax--ruby.syntax--embedded {
            color: @orange;
        }
    }

    &.syntax--other.syntax--link {
        color: @orange;
    }

    .syntax--embedded.syntax--punctuation {
        color: @dark-blue;
    }
}
