.syntax--support {
    &.syntax--class {
        color: @seafoam-green;
    }

    &.syntax--builtin,
    &.syntax--math {
        color: @seafoam-green;
    }

    &.syntax--function {
        color: @light-yellow !important;

        &.syntax--any-method {
            color: @pink;
        }
    }

    &.syntax--type {
        &.syntax--object {
            color: @seafoam-green;  // NOTE: Console in Babel
        }
    }

    &.syntax--dom {
        &.syntax--function {
            color: @light-blue;
        }

        &.syntax--variable {
            color: @seafoam-green;
        }
    }
}
