.syntax--css {
    .syntax--support {
        &.syntax--constant {
            color: @orange; // NOTE: CSS Enum
        }

        &.syntax--property-name {
            color: @light-blue;
            // text-align: center;
        }
    }

    .syntax--keyword {
        &.syntax--unit {
            color: @puke;
        }
    }

    .syntax--constant {
        &.syntax--numeric {
            color: @puke;
        }
        &.syntax--color {
            color: @orange;
        }
    }

    .syntax--entity {
        &.syntax--tag {
            color: @dark-blue; // NOTE: html element names
        }

        &.syntax--id {
            color: @dark-yellow;
        }
        &.syntax--other.syntax--attribute-name {
            color: @dark-yellow;
        }
    }

    .syntax--punctuation {
      color: @very-light-gray; // TODO: tweaked, quotes seperate from tags NOTE: style tag brackets in html
      &.syntax--definition {
        &.syntax--entity {
          color: @dark-yellow;

        }
      }
        .syntax--delimiter {
            // color: ;
            color: lime;  // QUESTION:
        }
    }

}
// .syntax--keyword {
  // &.syntax--scss,
  // &.syntax--less,
  // &.syntax--css{
  //   &.syntax--import {
  //     color: @light-pink !important;
  //   }
  //   &.syntax--at-rule {
  //     color: @purple !important;
  //     .syntax--keyword {
  //       color: @purple;
  //     }
  //   }
  // }
// }
