.syntax--html {
    &.syntax--tag {
        color: @light-gray;
        &.syntax--meta.syntax--other {
            color: @light-gray;
        }
    }

    &.syntax--punctuation {
        &.syntax--key-value,
        &.syntax--separator {
            color: @very-light-gray;
        }
    }

    &.syntax--entity {
        &.syntax--character.syntax--constant {
            .syntax--punctuation.syntax--definition.syntax--entity {
                color: @light-blue;
                color: @light-gray;
            }
        }

        &.syntax--other {
            &.syntax--attribute-name,
            &.syntax--id {
                color: @light-blue;
            }
        }
    }

    &.syntax--embedded.syntax--js {
        color: @very-light-gray;
    }

    // &.syntax--meta.syntax--tag {
    //     color: @very-light-gray;
    // }
}
