.syntax--json {
    &.syntax--constant.syntax--language {
        color: @dark-blue;
    }

    &.syntax--string.syntax--quoted.syntax--double {
        color: @light-blue;

        .syntax--punctuation {
            color: @light-blue;
        }
    }

    &.syntax--meta.syntax--value {
        .syntax--string.syntax--quoted.syntax--double {
            color: @orange;

            .syntax--punctuation {
                color: @orange;
            }
        }
    }
    // &.syntax--meta.syntax--key {
    //     .syntax--string.syntax--quoted.syntax--double {
    //         color: @light-blue;
    //
    //         .syntax--punctuation {
    //             color: @light-blue;
    //         }
    //     }
    // }
    &.syntax--invalid.syntax--illegal {
        &.syntax--expected-dictionary-separator {
            color: @theme-color--comment;
            background-color: transparent;
        }
    }
}
.syntax--json {
    .syntax--punctuation {
        &.syntax--separator.syntax--array,
        &.syntax--separator.syntax--key-value,
        &.syntax--dictionary.syntax--pair {
            color: @light-gray; //!important; 
        }
        &.syntax--definition {
            &.syntax--dictionary,
                &.syntax--array {
                    color: @light-gray; //!important; 
                }
        }   
    }
}
// .syntax--dictonary, .syntax--structure {
//     .syntax--dictonary, .syntax--structure {
//         .syntax--dictonary, .syntax--structure {
//             &.syntax--key {
//                 .syntax--string.syntax--quoted.syntax--double {
//                     color: darken(@light-blue, 20%); .syntax--punctuation {color: darken(@light-blue, 20%);}
//                 }
//             }
//             .syntax--dictonary, .syntax--structure {
//                 .syntax--dictonary, .syntax--structure {
//                     .syntax--key {
//                         .syntax--string.syntax--quoted.syntax--double {
//                             color: darken(@light-blue, 40%); .syntax--punctuation {color: darken(@light-blue, 40%);}
//                         }
//                     }
//                     .syntax--dictonary, .syntax--structure {
//                         .syntax--dictonary, .syntax--structure {
//                             .syntax--key {
//                                 .syntax--string.syntax--quoted.syntax--double {
//                                     color: darken(@light-blue, 60%); .syntax--punctuation {color: darken(@light-blue, 60%);}
//                                 }
//                             }
//                             .syntax--dictonary, .syntax--structure {
//                                 .syntax--dictonary, .syntax--structure {
//                                     .syntax--key {
//                                         .syntax--string.syntax--quoted.syntax--double {
//                                             color: darken(@light-blue, 80%); .syntax--punctuation {color: darken(@light-blue, 80%);}
//                                         }
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
