.syntax--md {
    &.syntax--text {}

    &.syntax--heading,
    &.syntax--heading .syntax--punctuation {
        color: @pink;
    }

    &.syntax--list {
        .syntax--punctuation {
            color: @bright-blue;
        }

        &.syntax--ordered {
            // .syntax--punctuation {color: @dark-blue;}
        }
    }

    &.syntax--bold {
        color     : @dark-blue;
        font-style: bold;

        .syntax--punctuation {
            color: @gray;
        }
    }

    &.syntax--italic {
        color     : @light-blue;
        font-style: italic;

        .syntax--punctuation {
            color: @gray;
        }
    }

    &.syntax--strike {
        .syntax--punctuation {
            color: @light-gray;
        }
    }

    &.syntax--hr {
        color: @pink;
    }

    &.syntax--table.syntax--storage {
        color: @dark-blue;
    }

    .syntax--punctuation.syntax--definition.syntax--tag {
        color: @light-gray;
    }

    &.syntax--language {
        // color: @seafoam-green; //TODO: tweaked -> seafoam
        color: @bright-blue;
        // color: @very-light-gray;
    }

    &.syntax--code.syntax--raw {
        .syntax--punctuation {
            color: @orange;
        }
    }

    &.syntax--link .syntax--punctuation {
        color: @gray;
    }

    .syntax--image.syntax--link.syntax--string,
    .syntax--text.syntax--link.syntax--string {
        color: @light-blue;
    }

    .syntax--uri.syntax--underline.syntax--link,
    .syntax--destination.syntax--link {
      color: @gray;
    }
}


.syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;

    &.syntax--heading {
        color: @seafoam-green;
    }
}
