// These colors are specific to the theme. Do not use in a package!
@very-light-gray: #D4D4D4;
@light-gray:      #808080;
@gray:            #505050;
@dark-gray:       #282c34;
@very-dark-gray:  #1E1E1E;

@dark-red:        #F44747;
@light-red:       #D16969;
@orange:          #CE9178;
@dark-yellow:     #D7BA7D;
@light-yellow:    #DCDCAA;
@puke:            #B5CEA8;
@comment-green:   #608B4E;
@seafoam-green:   #4EC9B0;
@light-blue:      #9CDCFE;
@dark-blue:       #569CD6;
@bright-blue:     #007ACC;
@purple:          #646695;
@light-purple-1:  #7274a0;
@light-purple-2:  #8183ab;
@light-purple-3:  #9192b5;
@light-purple-4:  #a0a1bf;
@light-purple-5:  #afb0c9;
@pink:            #C586C0;

// Theme Colors

@theme--gutter:             darken(@syntax-fg, 26%);
@theme--guide:              fade(@syntax-fg, 15%);
@theme--accent:             @bright-blue;
@theme--cursor-color:       @bright-blue;

@theme-color--fg:           @very-light-gray;
@theme-color--bg:           @dark-gray;
@theme-color--accent:       @bright-blue;
@theme-color--selection:    @background-color: rgb(38, 78, 123);

@theme-color--variable:     @light-blue;
@theme-color--constant:     @puke;
@theme-color--property:     @syntax-fg;
@theme-color--value:        @orange;
@theme-color--function:     @dark-blue;
@theme-color--name:         @dark-blue;
@theme-color--method:       @light-yellow;
@theme-color--class:        @seafoam-green;
@theme-color--keyword:      @pink;
@theme-color--tag:          @dark-blue;
@theme-color--attribute:    @light-blue;
@theme-color--import:       @pink;
@theme-color--snippet:      @comment-green;

@theme-color--brace:        @very-light-gray;
@theme-color--comment:      @comment-green;
@theme-color--error:        @light-red;
@theme-color--language:     @dark-blue;
@theme-color--regex:        @light-red;
@theme-color--storage:      @dark-blue;
@theme-color--string:       @orange;

.theme--cursor-line() {
    // opacity: .9;
    // background-color: #333842;
    margin-bottom: -2px;
    border-bottom: 2px solid #333842;
}

.theme--selection() {
    // opacity         : 0.45;
    // background-color: lighten(@theme-color--class, 15%);
    background-color: rgb(38, 78, 123);
    &:first-child {border-radius: 3px 3px 0 0;}
    &:last-child  {border-radius: 0 0 3px 3px;}
    &:only-child  {border-radius: 3px 3px 3px 3px;}
}

.theme--bracket-match() {
    border-bottom: 1px dotted @syntax-cursor-color;
    box-sizing   : border-box;
}

// .syntax--source.syntax--js.syntax--jsx {
//   .syntax--meta.syntax--property.syntax--object .syntax--variable.syntax--other.syntax--property{
//     color: @seafoam-green;
//   }
//
//   .syntax--meta.syntax--class.syntax--body .syntax--meta.syntax--property.syntax--object .syntax--variable.syntax--other.syntax--property{
//     color: @very-light-gray;
//   }
// }

.syntax--punctuation.syntax--section.syntax--class { color: @seafoam-green; }

.syntax--keyword.syntax--operator.syntax--rest.syntax--ts { color: @dark-blue; }


////    braces in styles
// .syntax--css,
// .syntax--less,
// .syntax--sass,
// .syntax--scss {
//     .syntax--punctuation {
//         &.syntax--terminator,
//         &.syntax--section { color: @light-gray;}
//
//     }
// }

////    braces in scripts
// .syntax--meta.syntax--brace.syntax--curly { color: @light-gray; }
