.testing {
    color: white;
    background-color: #00deaf;
}

#testing {
    color: black;
    flex-direction: column-reverse;
}

.image {
    background-image: url('https://code.visualstudio.com/images/favicon.ico');
}
