@import "./colors";
@import "./syntax-variables";


@import "./syntax/keyword";
@import "./syntax/const-var";
@import "./syntax/string";
@import "./syntax/punctuation";
@import "./syntax/support";
@import "./syntax/entity";
@import "./syntax/meta";
@import "./syntax/markup";


.syntax--comment {
    color: @syntax-color-comment;
}
.syntax--storage {
  &.syntax--type {
    color: @dark-blue;
  }
}

.syntax--invalid.syntax--illegal {
    background-color: @theme-color--error;
    color: @syntax-bg;
}

.syntax--none {
    background-color: @syntax-fg;
    color           : @syntax-bg;
}
