/* SYNTAX VARIABLES */

@import (reference) './theme.less';

// Base colors -----------------------------------
@syntax-fg: @theme-color--fg;
@syntax-bg: @theme-color--bg;
@syntax-accent: @theme--accent;
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);

// General colors -----------------------------------
@syntax-text-color:            @syntax-fg;
// @syntax-cursor-color:          @syntax-fg;
@syntax-cursor-color:          @theme--cursor-color;
@syntax-selection-color:       lighten(@syntax-background-color, 15%);
@syntax-selection-flash-color: @syntax-accent;
@syntax-background-color:      @syntax-bg;

// Guide colors -----------------------------------
@syntax-wrap-guide-color:          @syntax-guide;
@syntax-indent-guide-color:        @syntax-guide;
@syntax-invisible-character-color: @syntax-guide;

// For find and replace markers -----------------------------------
@syntax-result-marker-color:          fade(@syntax-accent, 24%);
@syntax-result-marker-color-selected: @syntax-accent;

// Gutter colors -----------------------------------
@syntax-gutter-text-color:                @syntax-gutter;
@syntax-gutter-text-color-selected:       @syntax-fg;
@syntax-gutter-background-color:          @syntax-bg; // unused
@syntax-gutter-background-color-selected: lighten(@syntax-bg, 2%);

// Git colors - For git diff info. i.e. in the gutter -----------------------------------
@syntax-color-renamed:  hsl(208, 100%, 60%);
@syntax-color-added:    hsl(150,  60%, 54%);
@syntax-color-modified: hsl(40,   60%, 70%);
@syntax-color-removed:  hsl(0,    70%, 60%);

// For language entity colors -----------------------------------
@syntax-color-variable:   @theme-color--variable;
@syntax-color-constant:   @theme-color--constant;
@syntax-color-property:   @theme-color--property;
@syntax-color-value:      @theme-color--value;
@syntax-color-function:   @theme-color--function;
@syntax-color-method:     @theme-color--method;
@syntax-color-class:      @theme-color--class;
@syntax-color-keyword:    @theme-color--keyword;
@syntax-color-tag:        @theme-color--tag;
@syntax-color-attribute:  @theme-color--attribute;
@syntax-color-import:     @theme-color--import;
@syntax-color-snippet:    @theme-color--snippet;
@syntax-color-comment:    @theme-color--comment;

// Custom Syntax Variables (Don't use in packages) -----------------------------------
@syntax-cursor-line:   lighten(@syntax-background-color, 5%); // needs to be semi-transparent to show serach results
@syntax-deprecated-fg: darken(@syntax-color-modified, 50%);
@syntax-deprecated-bg: @syntax-color-modified;
@syntax-illegal-fg:    white;
@syntax-illegal-bg:    @syntax-color-removed;
